<p-dialog
  [(visible)]="visible"
  header="Carga Masiva de Secciones"
  [modal]="true"
  [style]="{ width: '500px' }"
  [contentStyle]="{ overflow: 'auto' }"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
  (onHide)="hideDialog()"
>
  <div class="upload-container">
    <p class="mb-3">
      Seleccione o arrastre un archivo Excel para cargar múltiples secciones de curso a la vez.
    </p>
    
    <p-fileUpload
      #fileUpload
      mode="advanced"
      chooseLabel="Seleccionar"
      [multiple]="false"
      accept=".xlsx,.xls"
      [maxFileSize]="10000000"
      [showUploadButton]="false"
      [showCancelButton]="false"
      (onSelect)="onFileSelect($event)"
      (onDrop)="onFileDrop($event)"
      [disabled]="loading"
      [customUpload]="true"
      dragHighlightColor="#FEFEFE"
    >
      <ng-template pTemplate="content">
        <div class="flex flex-column items-center">
          <i class="pi pi-file-excel text-3xl mb-2" style="color: #1D6F42;"></i>
          <div class="text-center text-sm">
            Arrastra y suelta un archivo Excel aquí<br>
            o haz click para seleccionar
          </div>
        </div>
      </ng-template>
    </p-fileUpload>

    @if (selectedFile) {
      <div class="mt-3">
        <p>Archivo seleccionado: <strong>{{ selectedFile.name }}</strong></p>
      </div>
    }

    @if (loading) {
      <div class="mt-3">
        <p-progressBar [value]="uploadProgress"></p-progressBar>
      </div>
    }
  </div>

  <ng-template pTemplate="footer">
    <button
      pButton
      label="Cancelar"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
      [disabled]="loading"
    ></button>
    <button
      pButton
      label="Subir"
      icon="pi pi-upload"
      class="p-button-success"
      (click)="uploadFile()"
      [disabled]="!selectedFile || loading"
      [loading]="loading"
    ></button>
  </ng-template>
</p-dialog>